#wrap {
    max-height: 600px;
    width: 850px;
    padding: 0;
    overflow: hidden;

}

#frame { 
    height: 600px;
    width: 850px;
    border: 1px solid black;
    display: inline;
}

#frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
}