#wrap {
    width: 1200px;
    height: 1000px;
    padding: 0;
    overflow: hidden;
}

#frame {
    width: 1200px;
    height: 1000px;
    border: 1px solid black;
}

#frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
}